body {
  font-family: monospace;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 15px;
}

button {
  width: 100px;
  height: 24px;
  margin: 1px;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  position: absolute;
  z-index: 2;
  width: 768px;
  height: 768px;
  border: black solid;
}

#bgImg {
  z-index: 1;
  width: 768px;
  height: 768px;
}

@media screen and (max-width: 720px) {
  #myCanvas {
    width: 384px;
    height: 384px;
  }

  #bgImg {
    width: 384px;
    height: 384px;
  }
}